
{{method}} {{path}}
{{#dashRepeater}}
{{method}} {{path}}{{/dashRepeater}}


{{op.summary}}

{{#op.description}}### Description

{{#trim}}{{op.description}}{{/trim}}
{{/op.description}}
{{#security}}
### Security

{{#options}}
{{#havingManyOptions}}
##### {{optionHeader}}

{{/havingManyOptions}}
{{#optionSchemes}}
- {{schemeLabel}}

{{#renderer}}
|{{#headers}} {{.}} |{{/headers}}
|{{#headers}} {{#dashRepeater}}{{.}}{{/dashRepeater}} |{{/headers}}
{{#values}}
|{{#.}} {{#trimString}}{{.}}{{/trimString}} |{{/.}}
{{/values}}

{{/renderer}}
{{/optionSchemes}}
{{/options}}
{{/security}}
{{#hasParameters}}### Parameters

| Name   | In  | Description |
| ------ | --- | ----------- |
{{#parameters}}| {{name}} | {{in}} | {{#singleLine}}{{description}}{{/singleLine}} |
{{/parameters}}

{{/hasParameters}}
{{#requestBody}}
### Request Body: {{contentType}}

{{#schema}}
{{> schema}}
{{/schema}}
{{#hasExample}}{{> example}}
{{/hasExample}}
{{/requestBody}}
{{#responses}}### Response: {{status}} {{contentType}}

{{#description}}{{#trim}}{{description}}{{/trim}}
{{/description}}
{{#schema}}
{{> schema}}
{{/schema}}
{{#hasExample}}{{> example}}
{{/hasExample}}
{{/responses}}