{{#hasExample}}
##### Example

```
{{#hasJsonExample}}
{{#trimString}}{{jsonExample}}{{/trimString}}
{{/hasJsonExample}}
{{^hasJsonExample}}
{{#trimString}}{{example}}{{/trimString}}
{{/hasJsonExample}}
```

{{/hasExample}}