# API Documentation

{{#api.info}}
{{#title}}{{#trim}}{{title}}{{/trim}}

{{/title}}
{{#description}}{{#trim}}{{.}}{{/trim}}

{{/description}}
#### Info

| Name | Value |
| ---- | ----- |
{{#termsOfService}}| Terms of service | {{termsOfService}} |
{{/termsOfService}}{{#contact}}| Contact | {{name}} {{email}} {{url}} |
{{/contact}}{{#license}}| License | {{name}} {{url}} |
{{/license}}{{#version}}| Version | {{version}} |
{{/version}}{{/api.info}}
{{#myServers.hasAny}}


#### Servers

| Description | URL |
| ----------- | --- |
{{#api.servers}}
| {{description}} | {{url}} |
{{/api.servers}}
{{/myServers.hasAny}}