{{#notEmpty}}##### Schema

{{#trim}}{{schema.description}}
{{/trim}}
| Key | Type | Description |
| --- | ---- | ----------- |
{{#items}}| {{key}} | {{type}} | {{#singleLine}}{{description}}{{/singleLine}} |
{{/items}}
{{/notEmpty}}
{{^notEmpty}}
Empty schema
{{/notEmpty}}
{{#hasExample}}{{> example}}
{{/hasExample}}